.image-mask {
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;  /* 防止内容溢出 */

  &__title {
    position: absolute;
    top: 50%;  /* Title 默认垂直居中 */
    left: 50%;  /* Title 默认水平居中 */
    transform: translate(-50%, -50%);  /* 精确居中 */
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;  /* 文字居中对齐 */
    z-index: 2;  /* 确保标题在其他内容之上 */
    transition: transform 0.4s ease;  /* 添加平滑过渡效果 */
  }

  &__title--hover {
    transform: translate(-50%, -75%);  /* 鼠标悬停时上移 */
    color: #5aeab2 !important;
    transition: 0.3s ease;
  }

  &__content {
    position: absolute;
    top: 50%;  /* content 默认位于标题下方 */
    left: 50%;
    transform: translateX(-50%) translateY(20px);  /* 水平居中，距离 Title 稍微下移 */
    padding: 10px;
    text-align: center;  /* 文字居中 */
    opacity: 0;  /* 默认内容不可见 */
    transition: opacity 0.4s ease, transform 0.4s ease;  /* 渐显效果 */
    font-size: 16px;
    color: white;
    box-sizing: border-box;  /* 确保 padding 不影响 width */
    z-index: 1;  /* 确保内容在标题下方 */
  }

  &__content--fade-in {
    opacity: 1;  /* 鼠标悬停时渐显内容 */
    transform: translateX(-50%) translateY(0);  /* 鼠标悬停时 content 上移，顶起 title */
  }

  .image {
    object-fit: cover;  /* 保持图片比例并填充容器 */
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;  /* 添加平滑的颜色过渡效果 */
    filter: grayscale(100%);  /* 默认使图片变灰 */
  }

  .image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);  /* 灰色遮罩层 */
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .image-overlay--hide {
    opacity: 0;  /* 鼠标悬停时隐藏遮罩层 */
  }
}
