* {
  margin: 0;
  padding: 0;
}


.header {
  .appBar {
    width: 100%;
    min-width: 375px !important;

    .toolBar {
      width: 90%;
      margin: 0 auto;

      .title {
        font-size: 1.5em;
        font-weight: bold;
        float: left;
        color: white;
        height: 100%;
        align-items: center; /* 垂直居中 */
      }

      .menu {
        margin-left: 100px;
        float: left;

        .menu-content {
          color: white;
          font-size: 1.2em;
        }
        /* 鼠标悬停时改变颜色 */
        .menu-content:hover {
          color: #5aeab2; /* 这里可以设置你需要的颜色 */
        }
      }
    }
  }
}


