* {
  margin: 0;
  padding: 0;
}


.header {
  .appBar {
    width: 100%;
    height: 5em;
    min-width: 375px !important;

    .toolBar {
      width: 80%;
      margin: 0 auto;
      min-width: 375px !important;
      height: 6em;

      .title {
        font-size: 1.5em;
        font-weight: bold;
        float: left;
        color: white;
        height: 100%;
        align-items: center; /* 垂直居中 */

      }

      .menu {
        height: 5em;
        align-items: center; /* 垂直居中 */
        //margin-left: 5em;
        /* 为所有 .menu-content-hover 统一定义样式 */


        .menu-content {
          display: flex;
          color: white;
          height: 5em;
          font-size: 1.2em;
          transition: color 0.3s ease; /* 添加平滑的颜色过渡 */
          align-items: center;
        }


        .menu-item {
          float: left;
          padding-top: 0 !important;
        }

        .menu-right {
          float: right;
          padding-bottom: 1em;
          //margin-left: 50em;
        }
      }
    }
  }
}

.menu-content-hover:hover {
  color: #5aeab2 !important;
}


