* {
  margin: 0;
  padding: 0;
}

.appLayout{
  .header{
    margin: 0 auto;
  }

  .body{
    //display: flex; /* 设置为 flexbox 布局 */
    //justify-content: center; /* 水平居中 */
    //align-items: center; /* 垂直居中 */

  }
}




