<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.config.mapper.I18nKeyInfoMapper">
    
    <resultMap type="I18nKeyInfo" id="I18nKeyInfoResult">
        <result property="keyId"    column="key_id"    />
        <result property="keyName"    column="key_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectI18nKeyInfoVo">
        select key_id, key_name, create_by, create_time, update_by, update_time, remark from c_i18n_key_info
    </sql>

    <select id="selectI18nKeyInfoList" parameterType="I18nKeyInfo" resultMap="I18nKeyInfoResult">
        <include refid="selectI18nKeyInfoVo"/>
        <where>  
            <if test="keyName != null  and keyName != ''"> and key_name like concat('%', #{keyName}, '%')</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and DATE_FORMAT(create_time,'%Y-%m-%d') between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and DATE_FORMAT(update_time,'%Y-%m-%d') between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectI18nKeyInfoByKeyId" parameterType="Long" resultMap="I18nKeyInfoResult">
        <include refid="selectI18nKeyInfoVo"/>
        where key_id = #{keyId}
    </select>

    <insert id="insertI18nKeyInfo" parameterType="I18nKeyInfo" useGeneratedKeys="true" keyProperty="keyId">
        insert into c_i18n_key_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="keyName != null and keyName != ''">key_name,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="keyName != null and keyName != ''">#{keyName},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateI18nKeyInfo" parameterType="I18nKeyInfo">
        update c_i18n_key_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="keyName != null and keyName != ''">key_name = #{keyName},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where key_id = #{keyId}
    </update>

    <delete id="deleteI18nKeyInfoByKeyId" parameterType="Long">
        delete from c_i18n_key_info where key_id = #{keyId}
    </delete>

    <delete id="deleteI18nKeyInfoByKeyIds" parameterType="String">
        delete from c_i18n_key_info where key_id in 
        <foreach item="keyId" collection="array" open="(" separator="," close=")">
            #{keyId}
        </foreach>
    </delete>
</mapper>