<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lz.config.mapper.MenuInfoMapper">
    
    <resultMap type="MenuInfo" id="MenuInfoResult">
        <result property="menuId"    column="menu_id"    />
        <result property="menuName"    column="menu_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="path"    column="path"    />
        <result property="component"    column="component"    />
        <result property="query"    column="query"    />
        <result property="routeName"    column="route_name"    />
        <result property="menuAddress"    column="menu_address"    />
        <result property="isFrame"    column="is_frame"    />
        <result property="isChache"    column="is_chache"    />
        <result property="menuType"    column="menu_type"    />
        <result property="visible"    column="visible"    />
        <result property="status"    column="status"    />
        <result property="perms"    column="perms"    />
        <result property="icon"    column="icon"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMenuInfoVo">
        select menu_id, menu_name, parent_id, order_num, path, component, query, route_name, menu_address, is_frame, is_chache, menu_type, visible, status, perms, icon, create_by, create_time, update_by, update_time, remark from c_menu_info
    </sql>

    <select id="selectMenuInfoList" parameterType="MenuInfo" resultMap="MenuInfoResult">
        <include refid="selectMenuInfoVo"/>
        <where>  
            <if test="menuName != null  and menuName != ''"> and menu_name like concat('%', #{menuName}, '%')</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="routeName != null  and routeName != ''"> and route_name like concat('%', #{routeName}, '%')</if>
            <if test="menuAddress != null  and menuAddress != ''"> and menu_address = #{menuAddress}</if>
            <if test="isFrame != null  and isFrame != ''"> and is_frame = #{isFrame}</if>
            <if test="isChache != null  and isChache != ''"> and is_chache = #{isChache}</if>
            <if test="menuType != null  and menuType != ''"> and menu_type = #{menuType}</if>
            <if test="visible != null  and visible != ''"> and visible = #{visible}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="createBy != null  and createBy != ''"> and create_by like concat('%', #{createBy}, '%')</if>
            <if test="params.beginCreateTime != null and params.beginCreateTime != '' and params.endCreateTime != null and params.endCreateTime != ''"> and create_time between #{params.beginCreateTime} and #{params.endCreateTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and update_by like concat('%', #{updateBy}, '%')</if>
            <if test="params.beginUpdateTime != null and params.beginUpdateTime != '' and params.endUpdateTime != null and params.endUpdateTime != ''"> and update_time between #{params.beginUpdateTime} and #{params.endUpdateTime}</if>
        </where>
    </select>
    
    <select id="selectMenuInfoByMenuId" parameterType="Long" resultMap="MenuInfoResult">
        <include refid="selectMenuInfoVo"/>
        where menu_id = #{menuId}
    </select>

    <insert id="insertMenuInfo" parameterType="MenuInfo" useGeneratedKeys="true" keyProperty="menuId">
        insert into c_menu_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">menu_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="path != null">path,</if>
            <if test="component != null">component,</if>
            <if test="query != null">query,</if>
            <if test="routeName != null">route_name,</if>
            <if test="menuAddress != null and menuAddress != ''">menu_address,</if>
            <if test="isFrame != null and isFrame != ''">is_frame,</if>
            <if test="isChache != null and isChache != ''">is_chache,</if>
            <if test="menuType != null and menuType != ''">menu_type,</if>
            <if test="visible != null">visible,</if>
            <if test="status != null">status,</if>
            <if test="perms != null">perms,</if>
            <if test="icon != null">icon,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">#{menuName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="path != null">#{path},</if>
            <if test="component != null">#{component},</if>
            <if test="query != null">#{query},</if>
            <if test="routeName != null">#{routeName},</if>
            <if test="menuAddress != null and menuAddress != ''">#{menuAddress},</if>
            <if test="isFrame != null and isFrame != ''">#{isFrame},</if>
            <if test="isChache != null and isChache != ''">#{isChache},</if>
            <if test="menuType != null and menuType != ''">#{menuType},</if>
            <if test="visible != null">#{visible},</if>
            <if test="status != null">#{status},</if>
            <if test="perms != null">#{perms},</if>
            <if test="icon != null">#{icon},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMenuInfo" parameterType="MenuInfo">
        update c_menu_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="path != null">path = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="query != null">query = #{query},</if>
            <if test="routeName != null">route_name = #{routeName},</if>
            <if test="menuAddress != null and menuAddress != ''">menu_address = #{menuAddress},</if>
            <if test="isFrame != null and isFrame != ''">is_frame = #{isFrame},</if>
            <if test="isChache != null and isChache != ''">is_chache = #{isChache},</if>
            <if test="menuType != null and menuType != ''">menu_type = #{menuType},</if>
            <if test="visible != null">visible = #{visible},</if>
            <if test="status != null">status = #{status},</if>
            <if test="perms != null">perms = #{perms},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where menu_id = #{menuId}
    </update>

    <delete id="deleteMenuInfoByMenuId" parameterType="Long">
        delete from c_menu_info where menu_id = #{menuId}
    </delete>

    <delete id="deleteMenuInfoByMenuIds" parameterType="String">
        delete from c_menu_info where menu_id in 
        <foreach item="menuId" collection="array" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </delete>
</mapper>