.testimonial-start {
  background-image: url("@/assets/images/bg1.jpg");
  background-size: 100% 100%;

  .container {
    padding-top: 1em;

    .content {
      width: 40% !important;
      text-align: center;

      .title {
        font-family: Comic Sans MS, cursive, YouYuan;
        color: white;
      }

      .title:hover {
        color: #5aeab2;
      }

      .detail {
        color: rgba(0, 0, 0, 0.47);
        //padding-bottom: 1em;
      }
    }
  }

  .container-info {
    margin-top: 2em;

    .content {
      width: 40% !important;
      text-align: center;

      .title {
        font-family: Comic Sans MS, cursive, YouYuan;
        color: #5aeab2;
      }

      .title:hover {
        color: rgb(255, 255, 255)
      }

      .detail {
        color: rgba(0, 0, 0, 0.47);
        padding-bottom: 1em;
      }
    }

    .container-bottom {
      margin-top: 2em;
    }
  }
}
