.container2 {
  height: 100%; /* 高度为视口高度 */

  .container {
    width: 100%; /* 容器宽度最大为1200px，但填充满父容器 */
    .left {
      padding-top: 20vh;
      color: #000000;

      .item-title {
        font-size: 36px;
        line-height: 42px;
        font-family: OCR A Std, monospace, YouYuan;
        margin-bottom: 38px;
      }

      .item-title:hover {
        color: #5aeab2 !important;
      }

      .item-join {
        color: #615dfa;
        font-weight: 600;
        margin-bottom: 15px;
        font-size: 20px;
      }

      .item-content {
        color: #71728c;
        margin-bottom: 30px;
        width: 90%;
        font-family: Arial, sans-serif, YouYuan;
      }

      .svg {
        color: #615dfa;
      }

      .button-slide:hover {
        color: #5aeab2 !important;
      }
    }

    .right {
      margin-bottom: 5vh;
      padding-top: 17vh;

      .left-svg {
        margin-bottom: 1vh;
        height: 8em;
        width: 8em;
        background-color: rgba(0, 0, 0, 0.08);
        color: #615dfa;
        border-radius: 4em;
        display: flex;
        align-items: center;
        justify-content: center; /* 水平居中 */
      }

      .left-svg:hover {
        background-color: #615dfa;
        color: white;
        transition: all 0.5s ease-in-out;
      }

      .left-middle {
        margin-left: 4em;
      }

      .right-content {
        h1 {
          font-size: 30px;
          margin-bottom: 12px;
          font-family: Comic Sans MS, cursive, YouYuan;
          line-height: 20px;
        }

        h1:hover {
          color: #615dfa;
          transition: all 0.5s ease-in-out;
        }

        p {
          color: #71728c;
          margin-bottom: 30px;
          font-family: Arial, sans-serif,YouYuan;
        }
      }
    }
  }
}
