.groups-area-start {
  background-color: rgba(26, 26, 26, 0.04);

  .container {
    padding-top: 2em;

    .content {
      width: 40% !important;
      text-align: center;

      .title {
        font-family: Comic Sans MS, cursive, YouYuan;
      }

      .title:hover {
        color: #5aeab2;
      }

      .detail {
        color: #71728c;
        //padding-bottom: 1em;
      }
    }

    .images {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
}
