.container1 {
  background-image: url("/src/assets/images/bg1.jpg");
  background-repeat: no-repeat; /* 背景图不重复 */
  //background-attachment: fixed;
  background-position: center; /* 背景居中 */
  background-size: cover; /* 背景按比例缩放并填充容器 */
  z-index: 0;
  margin: 0 auto;
  transition: background-image 1s ease-in-out, background-size 1s ease-in-out;

  .container {
    width: 100%; /* 容器宽度最大为1200px，但填充满父容器 */
    background-image: url("/src/assets/images/map_line.png");
    background-repeat: no-repeat;
    //background-attachment: fixed;
    background-position: bottom center;
    background-size: 80em;
    height: 100%; /* 让容器的高度填满父容器 */
    z-index: 1;
    padding-top: 10vh;

    .left {
      padding-top: 25vh;
      //padding-bottom: 30vh;
      color: #ffffff;
      padding-left: 0 !important;

      .item-title {
        font-size: 60px;
        font-weight: 700;
        font-family: Nunito, sans-serif;
        line-height: 52px;
        margin-bottom: 1em;
      }

      .item-title:hover {
        color: #5aeab2 !important;
      }

      .item-number {
        font-weight: 700;
        color: #ffffff;
        display: block;
        //margin-bottom: 5px;
        font-size: 36px;
      }

      .conn-people {
        padding-bottom: 1em;
      }

      .item-content {
        margin-top: 1em;
      }

      .button-slide {
        padding-left: 20vh;
        color: white;
      }

      .button-slide:hover {
        color: #5aeab2 !important;
      }
    }

    .right {
      height: 100%;
      padding-top: 20vh;

      .shape {
        height: 100%;
        background-image: url("@/assets/images/shape_1.png");
        background-repeat: no-repeat;
        background-size: 90%;
        z-index: 1;
      }
    }
  }
}

/* 定义渐显动画 */
@keyframes fadeInBackground {
  0% {
    opacity: 0; /* 初始状态：完全透明 */
  }
  100% {
    opacity: 1; /* 最终状态：完全可见 */
  }
}
